<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--HEADER-->
<!--HEADER(S)-->
<div class="header" th:fragment="header">
    <div class="header_in">

        <!-- 왼쪽상단 로고(S) -->
        <div class="logo_box">
            <a href="/index" class="btn_home">
                <img src="/images/logo.png" alt="이미지">
            </a>
        </div>
        <!-- 왼쪽상단 로고(E) -->

        <!-- UserBox(S) -->
        <div class="user_box">
            <!-- 로그인(S) -->
            <div class="login_box">
                <a href="/login">로그인</a>
            </div>
            <!-- 로그인(E) -->

            <!-- 회원가입(S) -->
            <div class="signup_box">
                <a href="#">회원가입</a>
            </div>
            <!-- 회원가입(E) -->
        </div>
        <!-- UserBox(E) -->

        <!-- 헤더메뉴(S) -->
        <div class="menu_box">
            <a href="javascript:void(0);">도매유통정보</a>
            <a href="javascript:void(0);" style="">전자 송품장</a>
            <a href="javascript:void(0);" style="">지원정책</a>
            <a href="javascript:void(0);" style="">정보안내</a>
            <a href="javascript:void(0);" style="">출하자신고</a>
            <a href="javascript:void(0);" style="">도매시장현황</a>
        </div>
        <!-- 헤더메뉴(E) -->
    </div>
</div>
</html>