<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
<body>

    <div class="conts_main" th:fragment="naverLogin">
        <!-- 로그인박스(S) -->
        <div class="log_box">
            <h2 class="log_tit">SNS간편인증</h2>
            <p class="log_text">도매시장 통합홈페이지 OPEN-API 사용을 위한 로그인 화면입니다. <br>
                최초 로그인 시 API 서비스키가 자동 생성됩니다. </p>

            <div class="btn_box_log">
                <a href="#" id="naver_id_login" class="btn_log naver"></a>
                <a href="javascript:loginWithKakao();" class="btn_log kakao">카카오 아이디로 로그인</a>
                <a href="#!" class="btn_log google" id="googleIdLogin_loginButton">구글 아이디로 로그인</a>
            </div>
            <!-- 로그인박스(E) -->
        </div>

        <script type="text/javascript">
            var naver_id_login = new naver_id_login("VZJqC6jxcwpqKVU8Ggg8", "http://localhost:8080/index");
            var state = naver_id_login.getUniqState();
            naver_id_login.setButton("white", 3,35);
            naver_id_login.setDomain("http://localhost:8080");
            naver_id_login.setState(state);
            naver_id_login.init_naver_id_login();
        </script>
</div>

</body>
</html>