<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/content.css">
</head>
<body>
    <!--WRAP(S)-->
    <div class="wrap">

        <!-- HEADER(S) -->
        <div th:replace="include/header :: header"></div>
        <!-- HEADER(E) -->

        <!--CONTENT(S)-->
        <div th:replace="include/login :: login"></div>
        <!--CONTENT(E)-->

    </div>
    <!--WARP(E)-->
</body>
</html>